
.imghead{
    background: url(https://images.pexels.com/photos/3854816/pexels-photo-3854816.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height:100vh;
    overflow: hidden;
    background-size: cover;
}

.about_achievements-right{
    color: white;
    margin-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 1rem;
    background:linear-gradient(45deg,rgb(33, 32, 32),transparent) ;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns : 60% 40%,
}
.about_achievements-right h1{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: white;
}

.about_achievements-right > p {
    margin : 1.6rem 0 2.2rem ;
    margin-bottom: 0.6rem;
}
.achievements_cards{
    background-color: transparent;
}
.achievement_card{
    background:linear-gradient(45deg,rgb(222, 215, 31),transparent) ;
    padding: 1.6rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    text-align: center;
    width: 11rem;
    height: 11rem;
}
.achievement_card h3,p{
    color: white;
}

.achievement_card:hover{
    /* background:linear-gradient(45deg,rgb(140, 140, 137),transparent) ; */
    background: transparent;
    border-color: yellowgreen;
    box-shadow: 0 3rem 3rem rgba (0 ,0 ,0 ,0.3);
    transform: scale(1.24);
    color: white;
    transition: 0.4s;
    font-weight: bold;
}

.achievement_icon{
    background: rgb(222, 31, 139);
    padding: 0.5rem;
    border-radius: 1rem;
    width: 4rem;
    display: inline-block;
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
}

.achievement_card:nth-child(2) .achievement_icon{
    background: rgb(59, 200, 108);
}

.achievement_card:nth-child(3) .achievement_icon{
    background: rgb(59, 78, 200);
}

/*======================end of achievements====================*/

/* **************************team***************************** */
.team{
    /* background: var(--color-bg1); */
    background: #ebecec;
    border-bottom: 5px dotted #00bf8e;
}
.team_member_info h4{
    color:#0dcaf0;
    font-size: 30px;
}

.team_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;

}

.team_member{
    /* background: var(--color-bg2); */
    background: white ;
    padding: 2rem;
    border: 2px solid purple;
    border-radius: 1rem;
    transition: var(--transition);
    position: relative;
    
}

.team_member:hover{
    background: transparent;
    /* border-color: var(--color-primary); */
    border: 2px solid purple;
    background: linear-gradient(250deg,rgb(2, 107, 72),rgb(193, 255, 254));
    transition: smooth 0.3s;
    .team_member_info h4{
        color: white;
    }
    .team_member_info p{
        color: black;
        transform: scale(1.26);
    }
}

.team_member_image img{
    filter: saturate(0);
}

.team_member:hover img{
    filter: saturate(1);
    transform: scale(1.06);
}

.team_member_info *{
    text-align: center;
    margin-top: 1rem;
}
.team h2{
    color: #198754;
    font-size: 3.4rem;
    font-weight: 600;
}

.team_member_socials{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: -100%; /*  will go off the block */
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 1rem 0 0 1rem;
    transition: var(--transition);
}

.team_member_socials a{
    padding: 1rem;
}

.team_member:hover .team_member_socials{
    right:0;
}



/*=============footer================*/

footer{
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
  border-radius: 0px;
  background:white;
  color: purple;
    
}

.footer__logo  h4{
    color: purple;
}
.footer__logo p{
    color: #00bf8e;
}
.Permalinks a{
    color: #00bf8e;
    font-size: 0.9rem;
    font-weight: bold;
}
.footer_4 div p{
    color: #00bf8e;
    font-size: 0.9rem;
    font-weight: bold;
}

.privacy a{
    color: #00bf8e;
    font-size: 0.9rem;
    font-weight: bold;

}
.footer_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;    
    color: purple;
}

.footer_container > div h4{
    margin-bottom: 1.2rem;
}

.footer_1 p{
    margin: 1rem 0 2rem;

}

footer ul li{
    margin-bottom: 0.7rem;
}

footer ul li a:hover{
    text-decoration: underline;
}

.footer_socials{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    color: purple;
    font-size: 1.9rem;
    margin-bottom: 2rem;

}


.footer_copyright{
    text-align: center;
    margin-top: 4rem;
    background-color:#64edcb;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg2);
}

